$color-body:#000000;
$color-button: #FFA343;
$color-text: #fff;
$color-text2: #FFA343;
$font-family: 'Open Sans';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    color: $color-text;
}
body{
    overflow-x: hidden;
    background-color: $color-body;   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.conteiner{
    width: 90vw;
    max-width: 1530px;
    margin: 0 auto;
}
section{
    width: 100vh;
    min-height: 100vh; 
}
.bag-img{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/main.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bag-color{
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000cb, #00000000, #000000);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.logo{
    span{
        font-size: 2rem;
        font-weight: 700;
        color: $color-text;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 1;
    nav{
        ul{
            display: flex;
            gap: 2rem;
            li{
                list-style: none;
                border-bottom: 1px solid #00000000;
                padding: .5rem;
                transition: all .3s;
                &:hover{
                    border-bottom: 1px solid $color-text;
                }
                a{
                    text-decoration: none;
                    // color: $color-text;
                    font-size: 18px;
                }
            }
        }
    } 
}
form{
    &:focus-visible{
        border: none;
    }
    input{
        background-color: #ffffff00;
        border: none;
        outline: none;
        // &:focus-visible{
        //     border: none;
        // }
        // &:active{
        //     border: none;
        // }
    }
    input[type="search2"]{
        
        padding: 1rem .5rem;
    }
}
form[action="2"]{
    border-bottom: 1px solid #666;
    button{
        border-radius: 5px 5px 0 0;
        padding: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        &::after{
            content: url('/img/chevron_big_right copy.svg');
            color: $color-body;
        }
    }
}
.main-text {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    span{
        writing-mode: vertical-rl;
    }
    a{
        width: 30px;
        height: 30px;
    }
}
.social-icon2{
    a{
        width: 30px;
        height: 30px;
    }
}
.text {
    margin-top: 10vh;
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
.text__decor{
    display: flex;
    justify-content: start;
    span{
        color: $color-text2;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.decor{
    min-width: 0;
    width: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    div{
        width: 100%;
        border: 1px solid $color-button;
    }
    *+*{
        margin-left: 1rem;
    }
}
.scrol-down {
    display: flex;
    justify-content: center;
    span{
        color: $color-text;  
        font-size: 1.4rem;
        &::after{
            content: "\2193";
            position: absolute;
            top: 50%;
            right: -40%;
            transform:translate(0,-50%);
            font-size: 2rem;
            }
    }
}
.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.df > div{
    flex: 0 0 45%;
}
.df1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.__text-color{
    color: $color-button;
}
.__pad2r{
    padding: 3rem 0;
}
.slider-item-text{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    >div{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
}
.button,
.social-icon2,
.text__decor{
    >*+*{
        margin-left: 1rem;
    }
}
.policy{
    *+*{
        margin-left: 4rem;
    }
}
.blok-text > *+*{
    padding: 1rem 0;
}
button{
    padding: 1rem 1.5rem;
    background-color: $color-button;
    border: none;
    border-radius: 5px;
    color: $color-body;
    cursor: pointer;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    ul{
        li{
            list-style: none;
            margin-top: 10px;
            a{
                &:hover{
                    color: $color-button;
                }
            }
        }
    }
}


